
<html lang="en"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Food Lovers</title>
  <!-- CSS  -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>   
<body>
    <div class="container">
          <div class="logo">
          <a href="https://imgur.com/9X8gYfC"><img src="https://i.imgur.com/9X8gYfCl.jpg" title="source: imgur.com" /></a>
          </div> 
      <h2 class="header center orange-text">Restaurant Details</h2>
      <div class="show-detail-2">
        <div class="rest-detail">
        <div><b><%= restaurant.name %></b></div>
        <div><%= restaurant.category %></div>
        <div><%= restaurant.cuisine%></div>
        <div><%= restaurant.street %></div>
        <div><%= restaurant.city %>, <%= restaurant.state %>   <%= restaurant.zip %></div>
      </div>
      </div>
      <div class="row center">
        <h5 class="header col s12 light">Oh for the Love of Food!</h5>
      </div>
      <div class="row center">
        <form action="/restaurants/update/<%= restaurant._id %>?_method=PUT">
          <button type="submit" class="btn btn-warning" value="Edit Details">Edit</button>
      </div>
    </form>
      <br><br><h2>Experiences</h2>
      <form id="add-experience" method="POST"
        action="/restaurants/<%= restaurant._id %>/experiences">
        <label>Experience:</label>
        <input name="content" type="text" placeholder="#startwithahashtag!" required pattern="(#\S+\b)"></input>
        <label>Rating:</label>
        <select name="rating">
          <option value="Excellent">Excellent</option>
          <option value="Great">Great</option>
          <option value="Average">Good</option>
          <option value="NotGood">Not Good</option>
          <option value="Yikes" selected>Yikes</option>
        </select>
        <input type="submit" value="Add Experience">
      </form>
      
      <% if (restaurant.experiences.length) { %>
        <table>
          <thead>
            <tr>
              <th>Experiences</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>
            <% restaurant.experiences.forEach(function(e) { %>
              <tr>
                <td><%= e.content %></td>
                <td><%= e.rating %></td>
                <form action="/experiences/<%=e._id %>?_method=DELETE" method="POST">
                  <td><button id="delete" type="submit" class="btn btn-warning">x</button></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Reviews Yet</h5>
      <% } %>
        <div class="col s12 m4">
      </div>

</div>
</body>
</html>

        


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  

<div class="sidenav-overlay"></div><div class="drag-target"></div></body></html>