<!DOCTYPE html>
<html>
<head>
  <title>Update Details</title>
  <!-- Google Icon Fonts used by Materialize -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="stylesheets/style.css" /> -->
</head>
<body>
  <div class = "container">
    <div class="logo">
      <a href="https://imgur.com/9X8gYfC"><img src="https://i.imgur.com/9X8gYfCl.jpg" title="source: imgur.com" /></a>
    </div>
    <ul class=nav-wrapper >
      <li><a href="/restaurants">All Restaurants</a></li>
      <li><a href="/restaurants/new">New Restaurant</a></li>
    </ul>
  update restaurant
  <div class="update">
  <div class="show-detail-2">
    <div class="rest-detail">
    <div><b><%= restaurant.name %></b></div>
    <div><%= restaurant.category %></div>
    <div><%= restaurant.street %></div>
    <div><%= restaurant.city %>, <%= restaurant.state %>   <%= restaurant.zip %></div>
    </div>
  </div>
    <h2 class="header center orange-text">Update Restaurant</h2>
    <div class="update-details">
      <div class="form-row">
        <form action="/restaurants/update/<%= restaurant._id %>?_method=PUT" method="POST">
            
          <label for="rest-name">Restaurant Name</label>
          <input placeholder="Restaurant Name" id="rest_name" type="text" name="name">
         </div>
         <div class="form-row">
           <label for="cat">Category:</label>
            <input placeholder="Ethic, Fast Food, Fast Casual, Casual Dining, Premium Casual, Family Style, Fine Dining" 
            id="category" type="text" name="category">
             </div>
             <div class="form-row">
             <label for="cuisine">Cuisine Type:</label>
                  <input placeholder="Italian, BBQ, Seafood, Mediterranian" id="cuisine" type="text" name="cuisine">
             </div>
             <div class="form-row">
               <label>Address:</label>
             <label for="street">Street: </label>
             <input placeholder="123 Main Street Suite 1" type="text" name="street">
             </div>
             <div class="form-row">    
             <label for="city">City: </label>
             <input placeholder="City" id="city" type="text" name="city">
             </div>
             <div class="form-row">    
             <label for="state">State: </label>
             <input placeholder="State" id="state" type="text" name="state">
             </div>
             <div class="form-row">    
             <label for="zip">Zip Code: </label>
             <input placeholder="Zip Code" id="zip" type="text" name="zip">
             </div><br><br>
        
        
        <button type="submit" class="btn btn-warning" value="Update Restaurant">Update Restaurant</button>
      </div>
    </form>
    
    </div>

</body>
</html>

   